# GCP
GCP_PROJECT_ID=mtb-mmm-prod
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# Prefect
PREFECT_API_URL=https://api.prefect.cloud/api/accounts/.../workspaces/...
PREFECT_API_KEY=pnu_xxxxx

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
PAGERDUTY_ROUTING_KEY=xxx

# API Keys (also stored in GCP Secret Manager for prod)
SHOPIFY_SHOP_DOMAIN=michaeltoddbeauty.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_xxx
AMAZON_SELLER_ID=xxx
AMAZON_MWS_TOKEN=xxx
META_APP_ID=xxx
META_APP_SECRET=xxx
META_ACCESS_TOKEN=EAAxx
GOOGLE_ADS_CUSTOMER_ID=xxx
GOOGLE_ADS_DEVELOPER_TOKEN=xxx
TIKTOK_APP_ID=xxx
TIKTOK_SECRET=xxx
TIKTOK_ACCESS_TOKEN=xxx
NORTHBEAM_API_KEY=xxx
NORTHBEAM_ACCOUNT_ID=xxx
